.notice {
  display: block;
  
  float: left;
  
  margin: 40px;
  
  
  
  border: 1px solid #bcbcbc;
  
  height:200;
  background-repeat: no-repeat;
  overflow: auto;
}
.fixed {
  background-attachment: fixed;
}
.scroll {
  background-attachment: scroll;
}
.local {
  background-attachment: local;
}

.image {

  
   
    object-fit: cover;
  
}